bin
.classpath
.project
*.class
target
db
rmdata*
testdata
screenshots
Screenshots
org.eclipse.jdt.core.prefs
.log
.polyglot.build.properties
/workspace/
/aut/
*.war
.settings
.DS_Store
/backend.iml
/.idea
